{{!< default}}

<main class="content" role="main">
    <div class='bk-top-nav' {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        {{> menu}}
    </div>
</main>


<iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col3+from+162-xxhxzVTcN3TqVjakBlqsagVubCUzj7oEup4KB&amp;viz=MAP&amp;h=false&amp;lat=51.52732053854896&amp;lng=-0.127187610156283&amp;t=1&amp;z=11&amp;l=col3&amp;y=2&amp;tmplt=2&amp;hml=GEOCODABLE&amp;scrollwheel=false"></iframe>

   
            

    

    
</article>
